@import "tailwindcss";

/* importing the Cabin font from Google Fonts */

.cabin-100 {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.cabin-200 {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.cabin-400 {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} 

.hero-clip-path{
  clip-path: polygon(0 2%, 100% 0, 100% 93%, 0 100%);
}